/* Fonts */
@font-face {
    font-family: 'Adelia';
    src: url('fonts/ADELIA.otf') format('woff'); 
  }


/* Navigation Bar  Section */
.navbar{
    font-weight: bold;
    background-color:  #070e73;
    font-family: 'Roboto Mono';
}

.navbar a {
    padding-right: 50px;
    color: #FFDC49;
    font-family: 'Roboto Mono';
}

.navbar a:hover{
    color: #ffffff;
}

#navbar_logo{
    color: #FFDC49;
    font-family: 'Adelia';
    font-size: 1.6rem;                     
    font-weight: 600;
    letter-spacing: 0.08em;
}


/* Home Section */
.home{
    height: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #070e73;
    padding-top: 50px;
}

.home h3{
    font-family: 'Roboto Mono';
    font-size: 3vw;
    color:  white;
    margin-bottom: 40px;
}

.character-img {
    width: 400px;   /* change this */
    height: auto;   /* keeps aspect ratio */
}


.home button{
    font-family: 'Roboto Mono';
    background-color: #FFDC49;
    padding: 15px 30px;
    margin-bottom: 40px;
    font-size: 15px;
}

.site-footer {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: #FFDC49;
    background-color: #070e73;
}

.site-footer a {
    color: inherit;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #000;
}


@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width (typically tablets) */
    h1{
        font-size: 80px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width (typically smartphones) */
    h1{

    }
  }
  