/* Fonts */
@font-face {
    font-family: 'Adelia';
    src: url('fonts/ADELIA.otf') format('woff'); 
}

/* Navigation Bar  Section */
.navbar{
    font-weight: bold;
    background-color:  #070e73;
    font-family: 'Roboto Mono';
}

.navbar .navbar-nav {
    padding-left: 20px; 
    padding-right: 20px; 
}

.navbar a {
    padding-right: 50px;
    color: #FFDC49;
    font-family: 'Roboto Mono';
}

.navbar a:visited{
    color: #ffffff;
}

.navbar a:hover{
    color: #ffffff;
}

#navbar_logo{
    color: #FFDC49;
    font-family: 'Adelia';
    font-size: 1.6rem;                     
    font-weight: 600;
    letter-spacing: 0.08em;
}


/* Home Section */
.home{
    height: 1000px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #070e73;
    padding-top: 50px;
}

.home-p {
    max-width: 1000px;        
    padding: 0 20px;  
    margin: 30px auto 40px auto; 
    text-align: center;   
}

.home p{
    font-family: 'Roboto Mono';
    color:  white;
}

.highlight {
    color: #FFDC49;
    font-weight: 800;
}

.character-img {
    width: 270px;  
    height: auto;   
    margin: 0px;
    margin-top:30px;
}

.home button{
    font-family: 'Roboto Mono';
    background-color: #FFDC49;
    padding: 15px 30px;
    margin-bottom: 40px;
    font-size: 15px;
    border-radius: 50px;  
}


/* Footer Section */
.site-footer {
    font-family: 'Roboto Mono';
    padding: 1.5rem 0;
    text-align: center;
    font-size: 0.9rem;
    color: #FFDC49;
    background-color: #000000;
}

.site-footer a {
    color: inherit;
    text-decoration: underline;
}

.site-footer a:hover {
    color: #ffffff;
}


@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px width (typically tablets) */
    h1{
        font-size: 80px;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Styles for screens up to 480px width (typically smartphones) */
    h1{

    }
  }
  